<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="module" src="static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<h1>SHAWN</h1>

<form action="/", method="POST">
<div class="menu">
    <div>
        <label for="game-select">Choose a game board:</label>
        <select name="none_n" id="game-select">
            <option value="">--Please choose an option--</option>
            <option value="chullpa">Chullpa (Tower)</option>
            <option value="pirka">Pirka (Wall)</option>
            <option value="coricancha">Coricancha (Pyramid)</option>
            <option value="pisac">Pisac (Stairs)</option>
            <option value="cucho">Cucho (Corner)</option>
            <option value="tambo">Tambo (Lodge)</option>
        </select>
    </div>
</div>
    <br><button type="submit">Start new game</button>
</form>



<img id='gameBoard' src={{ url_for('static', filename='test_0.png') }}>


<br>
<br>

<!--<input type="text" id="input2">-->
<button id="nextTurn">Next Turn</button>
<div id="output"></div>

<button id="rotate">Rotate</button>

<br><br>
<input type="text" id="piece">
<button id="playPiece">Play Piece</button>

</body>
</html>