<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="module" src="static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<h1>SHAWN</h1>

<form action="/", method="POST">
<div class="menu">
    <div>
        <label for="game-select">Choose a game board:</label>
        <select name="none_n" id="game-select">
            <option value="">--Please choose an option--</option>
            <option value="chullpa">Chullpa (Tower)</option>
            <option value="pirka">Pirka (Wall)</option>
            <option value="coricancha">Coricancha (Pyramid)</option>
            <option value="pisac">Pisac (Stairs)</option>
            <option value="cucho">Cucho (Corner)</option>
            <option value="tambo">Tambo (Lodge)</option>
        </select>
    </div>
</div>
    <br><button type="submit">Start new game</button>
</form>



<img id='gameBoard' src={{ url_for('static', filename='test_0.png') }}>


<br>
<br>

<!--<input type="text" id="input2">-->
<button id="nextTurn">Next Turn</button>
<div id="output"></div>

<button id="rotate">Rotate View</button>

<br><br>

<button type="submit" id="move_left">Move Left</button>
<button type="submit" id="move_towards">Move Towards</button>
<button type="submit" id="move_down">Move Down</button>
<br>
<button type="submit" id="move_right">Move Right</button>
<button type="submit" id="move_away">Move Away</button>
<button type="submit" id="move_up">Move Up</button>
<br>
<button type="submit" id="move_x">Rotate X</button>
<button type="submit" id="move_y">Rotate Y</button>
<button type="submit" id="move_z">Rotate Z</button>


<br><br>

<button type="submit" id="next_turn_2x1">Play Piece</button>
<img id='2x1' src={{ url_for('static', filename='2x1.png') }}>

<button type="submit" id="next_turn_3x1">Play Piece</button>
<img id='3x1' src={{ url_for('static', filename='3x1.png') }}>

<button type="submit" id="next_turn_4x1">Play Piece</button>
<img id='4x1' src={{ url_for('static', filename='4x1.png') }}>

<button type="submit" id="next_turn_archer">Play Piece</button>
<img id='archer' src={{ url_for('static', filename='archer.png') }}>

<button type="submit" id="next_turn_bend">Play Piece</button>
<img id='bend' src={{ url_for('static', filename='bend.png') }}>

<button type="submit" id="next_turn_corner">Play Piece</button>
<img id='corner' src={{ url_for('static', filename='corner.png') }}>

<button type="submit" id="next_turn_L">Play Piece</button>
<img id='L' src={{ url_for('static', filename='L.png') }}>

<button type="submit" id="next_turn_pipe">Play Piece</button>
<img id='pipe' src={{ url_for('static', filename='pipe.png') }}>

<button type="submit" id="next_turn_square">Play Piece</button>
<img id='square' src={{ url_for('static', filename='square.png') }}>

<button type="submit" id="next_turn_twistL">Play Piece</button>
<img id='twistL' src={{ url_for('static', filename='twistL.png') }}>

<button type="submit" id="next_turn_twistR">Play Piece</button>
<img id='twistR' src={{ url_for('static', filename='twistR.png') }}>


</body>
</html>