<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="module" src="static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<h1>SHAWN</h1>

<!--This button selects the game board and starts a new game-->
<form action="/", method="POST">

    <input type="checkbox" id="check1" name="check1" checked />
    <label for="cp_human1">Player 1</label>
    <select name="cp_human1" id="cp_human1">
        <option value="cp">CP</option>
        <option value="human">Human</option>
    </select>
    <select name="color1" id="color1">
        <option value="yellow">Yellow</option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="cyan">Cyan</option>
        <option value="magenta">Magenta</option>
    </select>

    <br>

    <input type="checkbox" id="check2" name="check2" checked />
    <label for="cp_human2">Player 2</label>
    <select name="cp_human2" id="cp_human2">
        <option value="cp">CP</option>
        <option value="human">Human</option>
    </select>
    <select name="color2" id="color2">
        <option value="yellow">Yellow</option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="cyan">Cyan</option>
        <option value="magenta">Magenta</option>
    </select>

    <br>

    <input type="checkbox" id="check3" name="check3" />
    <label for="cp_human3">Player 3</label>
    <select name="cp_human3" id="cp_human3">
        <option value="cp">CP</option>
        <option value="human">Human</option>
    </select>
    <select name="color3" id="color3">
        <option value="yellow">Yellow</option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="cyan">Cyan</option>
        <option value="magenta">Magenta</option>
    </select>

    <br>

    <input type="checkbox" id="check4" name="check4" />
    <label for="cp_human4">Player 4</label>
    <select name="cp_human4" id="cp_human4">
        <option value="cp">CP</option>
        <option value="human">Human</option>
    </select>
    <select name="color4" id="color4">
        <option value="yellow">Yellow</option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="cyan">Cyan</option>
        <option value="magenta">Magenta</option>
    </select>

    <br>

    <label for="game-select">Game board:</label>
    <select name="game_board" id="game-select">
        <option value="chullpa">--Choose an option--</option>
        <option value="chullpa">Chullpa (Tower)</option>
        <option value="pirka">Pirka (Wall)</option>
        <option value="coricancha">Coricancha (Pyramid)</option>
        <option value="pisac">Pisac (Stairs)</option>
        <option value="cucho">Cucho (Corner)</option>
        <option value="tambo">Tambo (Lodge)</option>
    </select>

    <br><button type="submit">Start new game</button>
</form>

<!--Current game board-->
<img id='gameBoard' src={{ url_for('static', filename='test_0.png') }}>

<br><br>

<!--Button to cycle through computer's turns-->
<button id="nextTurn">Next Turn</button>

<!--This sections displays the turn number once a game is underway-->
<div id="output"></div>

<!--This button rotates the current game board by 90 degrees-->
<button id="rotate">Rotate View</button>

<br><br>

<!--This section controls the location of the human's remaining pieces-->
<button type="submit" id="move_left">Move Left</button>
<button type="submit" id="move_towards">Move Towards</button>
<button type="submit" id="move_down">Move Down</button>
<br>
<button type="submit" id="move_right">Move Right</button>
<button type="submit" id="move_away">Move Away</button>
<button type="submit" id="move_up">Move Up</button>
<br>
<button type="submit" id="move_x">Rotate X</button>
<button type="submit" id="move_y">Rotate Y</button>
<button type="submit" id="move_z">Rotate Z</button>
<br>
<button type="submit" id="reset">Reset</button>

<br><br><br>

<!--This sections previews each human's piece-->
<div style="display:grid; grid-template-columns:1fr 1fr 1fr 1fr; justify-content: center;">
    <div style="text-align: center;">
        <img id='2x1' src={{ url_for('static', filename='2x1.png') }}>
        <div style="text-align: center;"><button type="submit" id="next_turn_2x1">Play Piece</button></div>
    </div>
    <div style="text-align: center;">
        <img id='3x1' src={{ url_for('static', filename='3x1.png') }}>
        <div style="text-align: center;"><button type="submit" id="next_turn_3x1">Play Piece</button></div>
    </div>
    <div style="text-align: center;">
        <img id='4x1' src={{ url_for('static', filename='4x1.png') }}>
        <div style="text-align: center;"><button type="submit" id="next_turn_4x1">Play Piece</button></div>
    </div>
    <div style="text-align: center;">
        <img id='archer' src={{ url_for('static', filename='archer.png') }}>
        <div style="text-align: center;"><button type="submit" id="next_turn_archer">Play Piece</button></div>
    </div>
    <div style="text-align: center;">
        <img id='bend' src={{ url_for('static', filename='bend.png') }}>
        <div style="text-align: center;"><button type="submit" id="next_turn_bend">Play Piece</button></div>
    </div>
    <div style="text-align: center;">
        <img id='corner' src={{ url_for('static', filename='corner.png') }}>
        <div style="text-align: center;"><button type="submit" id="next_turn_corner">Play Piece</button></div>
    </div>
    <div style="text-align: center;">
        <img id='L' src={{ url_for('static', filename='L.png') }}>
        <div style="text-align: center;"><button type="submit" id="next_turn_L">Play Piece</button></div>
    </div>
    <div style="text-align: center;">
        <img id='pipe' src={{ url_for('static', filename='pipe.png') }}>
        <div style="text-align: center;"><button type="submit" id="next_turn_pipe">Play Piece</button></div>
    </div>
    <div style="text-align: center;">
        <img id='square' src={{ url_for('static', filename='square.png') }}>
        <div style="text-align: center;"><button type="submit" id="next_turn_square">Play Piece</button></div>
    </div>
    <div style="text-align: center;">
        <img id='twistL' src={{ url_for('static', filename='twistL.png') }}>
        <div style="text-align: center;"><button type="submit" id="next_turn_twistL">Play Piece</button></div>
    </div>
    <div style="text-align: center;">
        <img id='twistR' src={{ url_for('static', filename='twistR.png') }}>
        <div style="text-align: center;"><button type="submit" id="next_turn_twistR">Play Piece</button></div>
    </div>
</div>


</body>
</html>